.nav {
    font-size: 14px;
}

.dropdown-menu {
    font-size: 12px;
}

.dropdown-menu li {
    padding: 0px 8px;
}

.dropdown-menu li a {
    padding: 10px;
}

.dropdown-item i {
    font-size: 12px;
}

footer {
    font-size: 14px;
}

.avatar {
    border-radius: 64px;
    margin-top: 30px;
}

.about-long a {
    text-decoration: none;
}

.software-info{
    margin-top: 3rem;
}

.software-info p{
    font-size: 14px;
    margin-bottom: 10px;
}
.software-info .download-btn{
    margin: 20px 0;
}
.software-info .download-btn {
    margin: 20px 0;
    padding: 8px 20px;
}
.software-logo{
    border-radius: 20px;
}

.software-info-item{
    margin-top: 20px;
    margin-bottom: 5px;
}

.software-info-item-title{
    padding: 3px 15px;
    background-color: #dee2e6;
    font-size: 16px;
}

.software-info-item-content{
    margin-top: 20px;
    font-size: 14px;
}

.software-info-item-content img{
    margin: 10px 0;
}

.software-info-item a{
    color: #000;
}

.card-me a{
    text-decoration: none;
}