<div class="container">
    <footer class="mt-5 py-3 my-4 border-top">
        <div class="text-center">
            <span class="text-body-secondary">Copyright © 2024 ialong.cn</span>
        </div>
    </footer>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?4f5d3abfef1457c0d7af9ae7640d2fb1";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
</div>