<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="/assets/images/header-logo.png" alt="" height="32">
        </a>

        <ul class="nav nav-pills">
            <li><a href="/" class="nav-link link-body-emphasis">首页</a></li>
            <li><a href="https://www.zhihu.com/people/memrwang" class="nav-link link-body-emphasis">文章</a></li>
            <li><a href="https://space.bilibili.com/1699511818" target="_blank" class="nav-link link-body-emphasis">视频</a></li>
            <li>
                <a href="#" class="nav-link link-body-emphasis dropdown-toggle" data-bs-toggle="dropdown">软件</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/software/imageshrink.html"><i
                        class="ialong-icon icon-imageshrink me-1"></i>ImageShrink</a></li>
                    <li><a class="dropdown-item" href="/software/get-randpass.html"><i
                                class="ialong-icon icon-get-randpass me-1"></i>Get RandPass</a></li>
                </ul>
            </li>
            <li><a href="/about.html" class="nav-link link-body-emphasis">关于</a></li>
            <li>
                <a href="#" class="nav-link link-body-emphasis dropdown-toggle" data-bs-toggle="dropdown">Language</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/en/">English</a></li>
                    <li><a class="dropdown-item" href="/">简体中文</a></li>
                </ul>
            </li>
            <li><a href="https://github.com/memrwang" class="nav-link link-body-emphasis" target="_blank">GitHub</a></li>
        </ul>
    </header>
</div>